.logo {
  display: flex;
  align-items: center;
  height: 72px;
  &::before {
    content: url("../../assets/img/logo/icon.svg");
    display: block;
    max-height: 100%;
  }
  &::after {
    content: url("../../assets/img/logo/text-black.png");
    margin-left: 17px;
    display: block;
    max-height: 100%;
  }
}
