.form-group {
  position: relative;
  &__input {
    width: 100%;
    &::placeholder {
      color: rgba(103, 117, 141, 0.56);
      font-size: 16px;
      letter-spacing: normal;
    }
    &[type="password"] {
      font-size: 10px;
      letter-spacing: 2px;
    }
    height: 50px;
    font-size: 16px;
    padding: 0 17px;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
  }
  &__radio {
    display: flex;
    align-items: center;
    &-btn {
      cursor: pointer;
      margin-right: 10px;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px solid #7ac74f;
    }
    &-label {
      position: static !important;
    }
    &-input {
      display: none;
    }
    &-input:checked + &-btn {
      border-width: 6.5px;
    }
  }
  &__label {
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  &__error {
    position: absolute;
    bottom: 100%;
    color: #ff2222;
    right: 0;
  }
  &__tip {
    position: absolute;
    top: 100%;
    display: block;
    &:hover {
      color: #ff5d29;
    }
  }
  &--invalid &__input {
    border: 1px solid #ff2222;
  }
}
