$maxWidthContainer: 1300;
$minWidthContainer: 300;

$b1: 1024;
$b2: 768;
$b3: 320;

@import "../assets/sass/fonts";
@import "../assets/sass/utils/reset";
@import "../components/styles/form.scss";

img {
  width: 100%;
  height: 100%;
}

:root {
  font-size: 100%;
}

body {
  line-height: 1.225;
}

.flex-right {
  margin-left: auto;
}

.flex-left {
  margin-right: auto;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

b {
  font-family: mb;
}

button {
  cursor: pointer;
}
* {
  box-sizing: border-box !important;
}

.__container {
  margin: auto;
  position: relative;
  max-width: 1180px;
}

.page-heading {
  font-family: mb;
  font-size: 2rem;
  margin-top: 1.5rem;
}
