.remove-button {
  cursor: pointer;
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #b5b5b5;
  background: #f3f3f3;
  &::after,
  &::before {
    content: "";
    background: #b5b5b5;
    display: block;
    position: absolute;
    height: 2px;
    width: 14px;
    border-radius: 3000px;
  }
  &::before {
    transform: rotate(135deg);
  }
  &::after {
    transform: rotate(45deg);
  }
  &:hover {
    background: #ff3e00;
  }
}
