.chart {
  &__heading {
    font-size: 1.5rem;
    font-family: mb;
    margin-bottom: 24px;
  }
}
.user-stats {
  .row {
    display: flex;
    align-items: center;
  }
  margin-bottom: 48px;
  width: 100%;
  &__chart {
    margin-top: 24px;
  }
  &__date-filter {
    margin-left: auto;
  }
}

.date-filter {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  position: relative;
  &__selected {
    width: 206px;
    cursor: pointer;
    font-size: 0.75rem;
    margin-left: 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 0 15px 0 4px;
    height: 2rem;
    &::before {
      display: block;
      margin-right: 10px;
      width: 26px;
      height: 26px;
      border-radius: 3px;
      background-color: #3a80ba;
      content: "";
      background-image: url("../../../assets/img/calendar.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__wrapper {
    margin: 0 -10px;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
  }
  &__picker {
    margin: 10px;
  }
}
