.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff5d29;
  color: #ffffff;
  font-size: 14px;
  padding: 0 20px;
  font-family: MontserratMedium;
  &--rounded {
    border-radius: 3000px;
  }
  &--primary {
    background: #ff5d29;
    &:hover {
      background: #fa3c00;
    }
  }
  &--secondary {
    background: #ffffff;
    color: #ff5d29;
    &:hover {
      background: #ff5d29;
      color: #ffffff;
    }
  }
}
